/* Skeleton Base files. */
@import "../bower_components/Skeleton-Sass/scss/base/variables";
@import "../bower_components/Skeleton-Sass/scss/base/functions";
@import "../bower_components/Skeleton-Sass/scss/base/base-styles";
@import "../bower_components/Skeleton-Sass/scss/base/utils";
@import "../bower_components/Skeleton-Sass/scss/base/typography";

/* Skeleton Modules */
@import "../bower_components/Skeleton-Sass/scss/modules/grid";
@import "../bower_components/Skeleton-Sass/scss/modules/buttons";
@import "../bower_components/Skeleton-Sass/scss/modules/forms";
@import "../bower_components/Skeleton-Sass/scss/modules/lists";
@import "../bower_components/Skeleton-Sass/scss/modules/code";
@import "../bower_components/Skeleton-Sass/scss/modules/tables";
@import "../bower_components/Skeleton-Sass/scss/modules/spacing";
@import "../bower_components/Skeleton-Sass/scss/modules/media-queries";

@import "partials/system/fonts";

.banner-zone {

  background: $light-grey;
  padding-top: 100px;
  padding-bottom: 20px;
}

main {
  margin-top: 70px;
}

#tag_filter {

  padding: 10px;
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;

  input {

    margin-bottom: 0;
  }

  label {
    display: inline;
    padding-left: 5px;
    vertical-align: middle;
    cursor: pointer;
  }
}

.all-tag-table {

  border-spacing: 0;

  td {
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    color: darken($light-grey, 10%);

    &:first-of-type {
      width: 70%;
      color: #e34f26;

      a {
        margin-right: 5px;
      }
    }

    &:last-of-type {
      text-align: right;
    }

    a {

      font-size: 1.2em;
    }
  }

  tbody {
    tr:nth-child(even) {
      background-color: darken(#fff, 1%);
    }

    tr:hover, tbody tr:focus {
      background-color: darken(#fff, 2%);
    }
  }
}

table {

  &.centered {

    th, td {

      text-align: center;
    }
  }

  &.table {

    &--attrs {

      border-spacing: 0;

      td {

        padding: 20px 15px;
      }

      td:first-of-type {
        width: 30%;
      }

      td:nth-child(even) div:last-of-type .attribute-example {
        margin-bottom: 0;
      }

      p {
        font-size: 12px;
        line-height: 1.1;
      }
    }

    &--refs {

      th {
        padding-top: 0;
      }

      td:first-of-type {
        width: 40%;
      }

      tbody td {
        font-size: 13px;
      }

      tbody tr:first-of-type td {
        padding-top: 0;
      }
    }
  }

  th {
    .fa {
      margin-right: 7px;
    }
  }
}

.required {
  display: inline-block;
  width: 17px;
  height: 15px;
  background-color: red;
  vertical-align: text-bottom;
  margin-left: 5px;
  border-radius: $global-radius;
  position: relative;

  &:before {

    position: absolute;
    top: -1px;
    left: 4px;
    font-size: 13px;
    font-weight: 200;
    color: #fff;
    content: 'R';
  }
}

code {

  overflow-x: auto;

  &.attribute {

    background-color: #9cff83;
    margin: 0 5px;
  }
}

.attribute {

  &-default {
    font-size: 12px;
    text-decoration: underline;
  }

  &-example {
    margin-top: 0.5rem;
  }

  &--empty {
    margin-bottom: 0;
  }
}

#comments {
  display: none;
  margin-top: 50px;
}

#last-edited {
  text-align: center;
  font-size: 10px;
  color: darken($light-grey, 10%);
  margin-top: 100px;
}

.breadcrumbs {
  font-size: 0;
  margin-bottom: 1rem;

  > * {
    display: inline-block;
    font-size: 1.2rem;
    vertical-align: middle;
  }

  .fa {
    margin: 0 5px;
    font-size: 1.2rem !important;
  }
}